/* a study website need to have colors that are harmonious and can help calm one's mind.  */
/* layout need to be simple and clear, avoid too many functions to distract users' attention*/
/* complex motion might lead to distraction, so a mostly static page might be better. */
/* Avoid overly sharp fonts and graphics*/
/* volume slider and repeat function are needed*/
/*additional: playlist and shuffle*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* I used a less saturated blue-gray color as the background. 
Blue can make people more calm and avoid the distraction that high saturation colors might cause. 
yellow provides contrast and grab users attention.
In addition, for the other colors, similar shades of these two colors were chosen to maintain the consistency of the picture. */
/* these colors are from https://lospec.com/palette-list/capp-5, named CAPP-5 by Cappuchi */
:root {
  --color-01: #f0eff4;
  --color-02: #6b61ff;
  --color-03: #8ecde6;
  --color-04: #fadda2;
  --color-05: #66a1ff;

  --border: dashed #f0eff4 3px;
}

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  line-height: 1.6;
  background-color: var(--color-03);
  color: var(--color-01);
}

h1 {
  font-size: 3rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: var(--border);
  padding: 3rem 1rem;
  width: 75%;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: x-small;
}
/* I want footer  to be positioned right at the bottom of the screen. Thus the progress bar will have more room to display */
main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 5%;
  width: 100%;
}

.mediaPlayerSelection {
  width: 100%;
  margin: 0 auto;
}

#mediaPlayer {
  max-width: 100%;
}

.mediaPlayerControlContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

#playPauseButton {
  padding: 0.5rem;
  cursor: pointer;
}

#timelineProgress {
  flex: 1;
}

#playPauseButton {
  width: 30px;
  height: 30px;
  background-color: var(--color-04);
}

#loopButton {
  width: 30px;
  height: 30px;
  background-color: var(--color-04);
}

#noAudioButton {
  width: 30px;
  height: 30px;
  background-color: var(--color-04);
}

#previousButton {
  width: 30px;
  height: 30px;
  background-color: var(--color-04);
}

#nextButton {
  width: 30px;
  height: 30px;
  background-color: var(--color-04);
}

a:link {
  color: var(--color-01);
}

.mediaControl {
  width: 100%;
}

.audioList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border: var(--border);
  padding: 2rem;
}
#audio1,
#audio2,
#audio3 {
  border: none;
  width: 100%;
  background-color: var(--color-05);
}

.mediaTitle {
  margin-right: auto;
}

button {
  cursor: pointer;
}
/* it's easy to confuse users with my repeat button's colors, so I add a color-change interaction to all button
to indicate user that color03 is the default color appears when the button is clicked */
button:active {
  background-color: var(--color-03) !important;
}

#mediaPlayerContainer {
  display: flex;
  flex-direction: column;
}
