/* a study website need to have colors that are harmonious and can help calm one's mind.  */
/* layout need to be simple and clear, avoid too many functions to distract users' attention*/
/* complex motion might lead to distraction, so a mostly static page might be better. */
/* Avoid overly sharp fonts and graphics*/
/* volume slider and repeat function are needed*/
/*additional: playlist and shuffle*/
:root {
  --color-01: white;
  --color-02: black;
  --color-03: rgb(131, 172, 234);
  --color-04: coral;
  --border: solid coral 8px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  line-height: 1.6;
  background-color: var(--color-03);
  color: var(--color-01);
}

h1 {
  font-size: 2rem;
}

nav {
  border: var(--border);
  padding: 1rem;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border: var(--border);
}

main {
  max-width: 1000px;
  width: 100%;
}

.mediaPlayerSelection {
  width: 100%;
  margin: 0 auto;
}

#mediaPlayer {
  max-width: 100%;
}

.mediaPlayerControlContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

#playPauseButton {
  padding: 0.5rem;
  cursor: pointer;
}

#timelineProgress {
  flex: 1;
}
