:root {
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 2rem;
}

nav {
  border: var(--border);
  padding: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: var(--border);
}

main {
  max-width: 1000px;
  width: 100%;
}

.mediaPlayerSection {
  width: 100%;
  margin: 0 auto;
}

#mediaPlayer {
  max-width: 100%;
}

#mediaPlayerControlContainer {
}

#playPauseButton {
  padding: 1rem;
  cursor: pointer;
}
