/* my color palette is take from (url) */
/* it's called () by () */
/* I picked this color palette as it relates to the colors in the video.
 Given my context I wanted to create a cohensive match to the colours existing in the video. 
 I've also tried to use darker colors for most areas to make the video itself grab users attention */

:root {
  --color-01: white;
  --color-02: black;
  --color-03: rgb(131, 172, 234);
  --color-04: coral;
  --border: solid coral 8px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  line-height: 1.6;
  background-color: var(--color-03);
  color: var(--color-01);
}

h1 {
  font-size: 2rem;
}

nav {
  border: var(--border);
  padding: 1rem;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border: var(--border);
}

main {
  max-width: 1000px;
  width: 100%;
}

.mediaPlayerSelection {
  width: 100%;
  margin: 0 auto;
}

#mediaPlayer {
  max-width: 100%;
}

.mediaPlayerControlContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

#playPauseButton {
  padding: 0.5rem;
  cursor: pointer;
}

#timelineProgress {
  flex: 1;
}
