/* *is for universal selector */
/* ctrl+/=comments in css */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+QLD:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+QLD:wght@100..400&display=swap");
body {
  font-family: "Mozilla Headline", sans-serif;
  background-color: rgb(31.197% 22.013% 53.11%);
  color: rgb(99.069% 99.141% 78.65%);
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  color: brown;
}
h3 {
  font-size: 1.25rem;
}

ol {
  list-style-position: inside;
}

#infoPara {
  padding: 1rem;
  margin: 0 auto;
  border: 1rem double rgb(99.069% 99.141% 78.65%);
  /* display: none is a easy way to hide a section */
}

.navLinkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style: none;
  width: 100%;
  height: 5rem;
  margin: 1rem 0;
}
.navLinkbox li {
  background-color: aquamarine;
}

.gridBox {
  background-color: blueviolet;
  display: grid;
  height: 20rem;
  width: 20rem;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 2fr 1fr 20px;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

/* section {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#boxItem1 {
  background-color: darkgreen;
  width: 3rem;
}
#boxItem2 {
  background-color: rgb(155, 160, 206);
  grid-column: 2/4;
  grid-row: 1/4;
}
#boxItem3 {
  background-color: rgb(187, 180, 111);
  grid-column: 1/4;
  grid-row: 2/4;
}
#boxItem4 {
  background-color: rgb(226, 186, 65);
}
#boxItem5 {
  background-color: rgb(156, 64, 132);
}
#boxItem6 {
  background-color: rgb(0, 100, 90);
}
#boxItem7 {
  background-color: rgb(84, 129, 76);
}
